<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css>
   

    <link type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" >
    
    <title>domaci</title>
  </head>
  <body>

    <style>

      body {
        padding: 10px 10px 10px 10px;
      }

      table {
        cursor: pointer; 
      }

      h1{
      
        font-weight: bold;
      }

      table.table-striped.table-bordered tr:nth-child(even) {
        background-color:#007bff;;
      }

     

      table.table-striped.table-bordered tr:nth-child(odd) {
        background-color:#4ca2fd;
      }

      </style>


    <h1>Nikola Dimic s46/19</h1>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr style="background-color: white;">
                <th>id</th>
                <th>predmet</th>
                <th>tip</th>
                <th>nastavnik</th>
                <th>grupe</th>
                <th>dan</th>
                <th>termin</th>
                <th>vreme</th>
            </tr>
        </thead>
        <tbody>
            {% for row in raspored %}
            <tr>
              <th>{{row.id}}</th>
              <th>{{row.predmet}}</th>
              <th>{{row.tip}}</th>
              <th>{{row.nastavnik}}</th>
              <th>{{row.grupe}}</th>
              <th>{{row.dan}}</th>
              <th>{{row.termin}}</th>
              <th>{{row.vreme}}</th>
            </tr> 
            {% endfor %}    
        </tbody>
        
    </table>

    <h2 class='mb-3'>Spisak</h2>
      <table id="dtBasicExample" class="table" width="100%">
          <thead>
            <tr>
              <th class="th-sm">nastavnik
              </th>
              <th class="th-sm">vreme
              </th>
            </tr>
          </thead>
          <tbody>
            {% for row in raspored %}
            <tr>
              <th><span onclick="onFilter(this)">{{row.nastavnik}}</span></th>
              <th><span onclick="onFilter(this)">{{row.vreme}}</span></th>
            </tr> 
            {% endfor %}  
          </tbody>
      </table>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="http://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        });
    </script>

    <script>
      $(document).ready(function () {
        $('#dtBasicExample').dataTable( {
        "searching": false
        "ordering": false
        } );

      $('.dataTables_length').addClass('bs-select');
    });
    </script>
    
    <script>

      function onFilter(value) {
        console.log(value.textContent);
        var table = $('#example').DataTable();
        table.search( value.textContent ).draw();
      }
      
    </script>

  
  </body>
</html>